<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.k2data.unittest.example.unittestsample.base.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.k2data.unittest.example.unittestsample.base.dao.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="fromDate" property="fromdate" jdbcType="DATE" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="resume" property="resume" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sex, section, birthday, fromDate, updateTime, status, img, resume
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllUsers" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
    order by id asc
  </select>
  <select id="chectExist" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    select count(*)
    from user
    where id = #{id, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.k2data.unittest.example.unittestsample.base.dao.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (id, name, sex, section, 
      birthday, fromDate, updateTime, 
      status, img, resume
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{section,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{fromdate,jdbcType=DATE}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{img,jdbcType=VARCHAR}, #{resume,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.k2data.unittest.example.unittestsample.base.dao.User" useGeneratedKeys="true" keyProperty="id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="section != null" >
        section,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="fromdate != null" >
        fromDate,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="resume != null" >
        resume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="section != null" >
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="fromdate != null" >
        #{fromdate,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        #{resume,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.k2data.unittest.example.unittestsample.base.dao.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="section != null" >
        section = #{section,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="fromdate != null" >
        fromDate = #{fromdate,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        resume = #{resume,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.k2data.unittest.example.unittestsample.base.dao.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      section = #{section,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      fromDate = #{fromdate,jdbcType=DATE},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      img = #{img,jdbcType=VARCHAR},
      resume = #{resume,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>